.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  gap: 16px;
  width: 100%;
  height: 100%;
}

.description {
  max-width: 440px;
}
