.container {
  width: 100%;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px 0;
  color: #f2f2f3;
}

.orderNumber {
  text-align: center;
  margin-bottom: 40px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  margin-bottom: 24px;
}

.orderName {
  margin: 0;
}

.status {
  margin: 0;
}

.statusDone {
  color: #00cccc;
}

.statusPending {
  color: #f6c947;
}

.statusCreated {
  color: #4c4cff;
}

.ingredientsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 340px;
  overflow-y: auto;
  padding-right: 8px;
}

.ingredientsList::-webkit-scrollbar {
  width: 8px;
  border-radius: 0;
}

.ingredientsList::-webkit-scrollbar-track {
  background: rgba(47, 47, 55, 1);
}

.ingredientsList::-webkit-scrollbar-thumb {
  background: rgba(133, 133, 173, 1);
}

.ingredientRow {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ingredientPreview {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid rgba(76, 76, 255, 0.25);
  background-color: #131316;
  overflow: hidden;
  flex-shrink: 0;
}

.ingredientImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ingredientName {
  flex: 1;
  color: #f2f2f3;
}

.ingredientPrice {
  display: flex;
  gap: 8px;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
