html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: rgba(76, 76, 255, 1) rgba(47, 47, 55, 1);
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: rgba(76, 76, 255, 1);
  border-radius: 0;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: rgba(47, 47, 55, 1);
  border-radius: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #131316;
}

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
