.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 0;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
}
